.times-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.times-toolbar__total {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--color-text-secondary);
}
